<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwsP0EapzHWH_jF0B4yOaZC2o_EjFaDnY</string>
	<key>GCM_SENDER_ID</key>
	<string>1019451403244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zerodha</string>
	<key>PROJECT_ID</key>
	<string>zerodha-fa9ef</string>
	<key>STORAGE_BUCKET</key>
	<string>zerodha-fa9ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019451403244:ios:0d21be36b184cc32662ec9</string>
</dict>
</plist>